@page "/"

<PageTitle>Jobs Viewer - Inicio</PageTitle>



<div class="container my-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded w-100">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <i data-feather="circle"></i>
        <h1 class="text-body-emphasis">Jobs Viewer</h1>
        <p class="lead">
            Visor de jobs de SQL Server
        </p>
    </div>
</div>
